@font-face {
  font-family: 'Baunk';
  src: url('../public/fonts/Baunk.ttf') format('truetype');
}
@font-face {
  font-family: 'Cooper-Black';
  src: url('../public/fonts/Cooper_Black_Regular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
body {
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
}
html {
  overflow-x: hidden;
}
.main-content {
  display: flex;
  background-color: #0a0a0a;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
.main-content-alt {
  display: flex;
  background-color: #0a0a0a;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
.posh-content {
  display: flex;
  background-color: #0a0a0a;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden
  
}
.top-content-container {
  
  width: fit-content;
  min-height: 9.5rem;
  max-height: 9.5rem;
  height: fit-content;
  //max-height: fit-content;
  align-self: center;
  padding-top: 6rem;
 // background-color: rgba(255, 0, 0, 0.122);
  margin-left: auto;
  display: flex;
  flex-direction: column;
 // padding-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
  
  margin-right: auto;
}
.top-content-text{
  font-family: Inter;
  font-size: clamp(16px, 3vw, 24px);
  color:#fff;
  font-style: normal;
  padding:0;
  margin: 0;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.5px;
  transform: translateY(-.825rem);
  text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.7);
  text-align: center;
  max-height: 2rem;
  //background-color: red;
  text-transform: uppercase;
}
.top-content-subtext {
  font-family: Inter;
  font-size: clamp(12px, 3vw, 22px);
  color:#fff;
  font-style: normal;
  
  padding-top:1.125rem;
 // margin: 0;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.5px;
  transform: translateY(-.825rem);
  text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.7);
  text-align: center;
  max-height: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
  margin-bottom:0;
  //background-color: red;
  text-transform: uppercase;
}
.top-content-header {
  font-family: Cooper-Black, serif;
  font-size: clamp(48px, 5.75vw, 100px);
 // font-size: 100px;
  color:#fff;
  text-align: center;
  padding: 0;
  margin: 0;
  transform: translateY(-.475rem);
  text-shadow: 0px 2px 20px rgba(255, 255, 255, 0.7);
  font-weight: 400;
//line-height:4px;

  text-transform: uppercase;
  letter-spacing: 4px;
//  max-height: 1rem;
  //background-color: gray;


}
.main-content-container {
  width: 100%;
  height: 100%;

  min-height: 100%;

  align-self: center;
  padding-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
 // background-color: green;
  padding-bottom: 2.25rem;
  align-items: center;
}
.posh-content-container {
  width: 100%;
  min-height: fit-content;
  max-height: 100vh;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0,.2);
  align-self: center;
  margin-left: auto;
  margin-right: auto;
 // border-radius: 16px;
  z-index: 100;
  align-items: center;
 // background-color: rgb(29, 28, 44);
  display: flex;
 // margin-top: 2.25rem;
  flex-direction: column;
  overflow: hidden;

  position: absolute;
  //background-color: #252525aa;

 // box-shadow: 16px 16px 0px 0px rgba(187, 187, 187, 0.25);
}
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;  /* Adjust as necessary */
  height: fit-content; /* Adjust as necessary */
  border: none;
//  background-color: red;
 // margin-top: 2.5rem;
}
.posh-content-wrapper {
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background-color: #0a0a0a88;
  z-index: 999;
  overflow: visible;
  min-width: 100%;
  min-height: 100vh;
 // min-height: 80vh;
// padding-bottom: 40px;
 display: flex;
  align-items: center;
  justify-content: center;
padding-top: 5rem;

 
}


.main-content-text {
  font-family: Baunk;
  font-size: 1.875rem;
  font-weight: 400;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: .5px;
}

// input form


input {
  color:#eee;
  background-color: #202020;
  z-index: 1;
  border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #eee;
 // -webkit-box-shadow: 0 0 0 30px #252525ff inset !important;
  transition: background-color 2147483647s;
  caret-color: #eee;
}
.input-form-container {
  min-width: 45vw;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  padding-bottom: 2rem;
  //top: 50%;

  //left: 50%;
  //transform: translate(-50%, -50%);

  //background-color: red;
}
.form-content {
  display: flex;
  min-width: 100%;
  min-height: 100%;
 // padding-top:9.25rem;
  flex-direction: column;

}
.fields-container {
  width: 100%;
  min-height:100%;
  gap:2.75rem;
  display: flex;
  flex-direction: column;
}
.input-container {
  width: 100%;
  max-height: 23.5%;
  min-height:23.5%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-header-text {
  font-size: clamp(10px, 3vw, 16px);
  font-family: "Rubik";
  margin-right: auto;
 // line-height: 24px;
  text-transform: uppercase;
 // padding-left: .125em;
  //padding-bottom: .25em;
  letter-spacing: -.25px;
  font-weight: 500;
  color: #eee;
  max-width: 45vw;
  
}
.input-wrapper {
  width: 100%;
  min-height:50%;
  display: flex;
  padding-top: .23rem;
  padding-bottom: .23rem;
  align-items: center;
  justify-content: flex-start;
  border: 1px dashed #eee;
 // border: 1px solid #eee;

  border-radius: 10px;
  background-color: transparent;
}
.input-wrapper-alt {
  width: 100%;
  min-height:50%;
  display: flex;
  padding-top: .23rem;
  padding-bottom: .23rem;
  align-items: center;
  justify-content: center;
 // border: 1px dashed #eee;
 // border: 1px solid #eee;
  gap: 2.25%;
  border-radius: 10px;
  background-color: transparent;
}
input:focus, textarea {
  background-color: transparent;
  outline: none !important;
}

.input-content {
  width: 80%;
  border-radius: 12px;
  padding-left: 1.25rem;
  color:#eee;
  border: 1px dashed #eee;
  transition: all .15s linear;
  align-self: center;
  //border:none;
  background-color: transparent;
 padding-top: .25rem;
  padding-bottom: .25rem;
  min-height:100%;
  font-size: 16px;
  transition: all .2s linear;
}
.input-content-alt {
  width: 100%;
  border-radius: 12px;
  padding-left: 1.25rem;
  color:#eee;
  transition: all .15s linear;
  align-self: center;
  border:none;
  text-transform: uppercase;
  user-select: none;
  background-color: transparent;
  min-height:100%;
  display: flex;
  //justify-content: center;
  align-items: center;
  font-size: clamp(12px, 4vw, 16px);
  transition: all .2s linear;
}
.input-content-access {
  width: 100%;
  border-radius: 12px;
  padding-left: 1.25rem;
  color:#eee;
  transition: all .15s linear;
  align-self: center;
  border:none;
  text-transform: uppercase;
  user-select: none;
  background-color: transparent;
  min-height:100%;
  display: flex;
  //justify-content: center;
  align-items: center;
  font-size: clamp(12px, 4vw, 16px);
  transition: all .2s linear;
}
.input-phone-button {
  height: 100%;
  width: 14%;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: 1px dashed #eee;
  background-color: transparent;
  //background-color: rgb(51,51,51);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding-left: .25%;
  padding-right: .25%;
  transition: all .15s linear;  
}
.input-phone-button-alt {
  height: 100%;
  width: 14%;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: 1px dashed #eee;
  background-color: transparent;
  //background-color: rgb(51,51,51);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding-left: .25%;
  padding-right: .25%;
  transition: all .15s linear;  
}
.input-phone-button-alt:hover {
  background-color: #353535;
  outline: 1px dashed #353535;
  
}
.input-phone-button-alt:hover .phone-submit-text {
  color: #aaa;
  
}
.phone-submit-text {
  color:#fff;
  padding: 0;
 // font-family: sans-serif;
 font-size: clamp(12px, 4vw, 16px);
  margin: 0;
  transition: all .15s linear;
}
.input-phone-button:hover {
  background-color: #eee;
  //filter: invert(1);
  outline: 1px solid #eee;
}
.input-phone-button:hover .phone-submit-text {
  color: #000;
}
.referral-input:hover  {
  color: rgb(11, 216, 151);
}
.input-content-access:hover  {
  //color: rgb(11, 216, 151);
}
.input-content-access:hover .access-arrow-icon {
 // color: rgb(11, 216, 151);
}
.access-arrow-icon:hover {
  transform: translateY(.1rem) scaleX(1.05) scale(1.2);
}
.input-content-alt::placeholder {
  font-size: clamp(10px, 3vw, 14px);
  font-family: "Rubik";
  font-weight: 400;
  color: #757575;
}
.input-content::placeholder {
  font-size: clamp(10px, 3vw, 16px);
  font-family: "Rubik";
  font-weight: 400;
  color: #757575;
}

.submit-button {
  width: 45%;
  border-radius: 12px;
  margin-top: 1.375rem;
 // margin-left: .1rem;
  display: flex;
  height: 3.25rem;
  filter: contrast(1);
  transition: all .15s linear;
  box-shadow: 0px 0px 0px 0px rgba(55, 187, 172, 0.4);
  justify-content: center;
  background-color: rgba(58, 197, 153, 0.975);
  align-items: center;
  max-height: fit-content;
 
}

.submit-button:hover {
  box-shadow: 0px 0px 8px 4px rgba(53, 189, 201, 0.4);
}
.submit-text {
  font-size: clamp(12px, 3vw, 18.5px);
  font-family: "Rubik";
  margin-right: auto;
  margin-left:auto;
  font-weight: 400;
  color: #000;
}
.button-icon {
  position: absolute;
  right:0;
  padding-right: 1em;
  transform: translateX(-.1em) scale(1.1);
  color: #0a0a0a;
  width: 1.5em;
  padding-bottom: .025em;

  height: 1.5em;
}
.access-arrow-icon-container {
  margin-right: 1.15rem;
  align-self: center;
}
.access-arrow-icon {
  transition: all .15s linear;
  //padding-right: 1rem;
  transform: translateY(.1rem) scaleX(1.05);
  color: #eee;
  width: 1.7rem;
//  padding-bottom: .025em;
  height: 1.7rem;
}
.copy-icon-container {
  align-self: center;
  padding: 0;
  margin: 0;
  transform: translateY(.1rem);
  margin-right: 1.325rem;
  //background-color: red;
  height: fit-content;
  width: fit-content;

}
.copy-icon {
  transition: all .15s linear;
  align-self: center;
  width: 1.4rem;
  height: 1.4rem;

 // padding-left: .075rem;
 // padding-right: .075rem;
}
.copy-icon:hover {
 // background-color: #111;
 // border-radius: 4px;
 transform: scale(1.2);
  color:rgba(58, 197, 153, 0.975);
}

// carousel

.carousel-container {
  min-width: 100vw;
  min-height: 2.25rem;
  max-width: 100vw;
  max-height: 2.25rem;
  padding-left: 1.85rem;
  padding-right: 1.85rem;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  position: absolute;
  top:0;
  padding-top: 3px;
  z-index: 999;
  background-color: #0C0706;
  //border-top: .5px solid #fff;
  border-bottom: .5px solid #fff;
  //margin-bottom: 2rem;
  overflow: hidden;
  justify-content: flex-start;
}

.carousel-content-container {
  display: flex;
  //width: 95.375%;
 // padding-left: ;
  min-width: 200%;
  
  height: 100%;
  max-width: 200%;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  justify-content: space-around;

//   gap:1rem;
  overflow: hidden;
  

  align-items: center;
}
.carousel-icon-container {
//   background-image: url('../public/assets/lightning-star.svg');
//  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .2s linear;
}
.carousel-icon-container:hover {
//  transform: scale(1.05);
}

.noservice-icon {
  color: #FFF;
  text-align: center;
  font-family: Baunk;
  font-size: clamp(.425rem, 3vw, .825rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  align-self: center;
  background-position: center;
  display: flex;
}
.loading-container {
  width: fit-content;
  display: flex;
 // background-color: red;
  margin-bottom: 1.5em;
  justify-content: center;
  margin-left: auto;
  height: 75%;
  flex-direction: column;
  margin-right: auto;
  align-self: center;
  height: 100%;

  align-items: center;
}
.loading-text {
  font-family: 'Rubik';
  color:#a0a0a0;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  align-self: center;
}
@media screen and (max-width: 480px) {
  .carousel-container {
      min-width: 100vw;
      min-height: 2.25rem;
      max-width: 100vw;
      max-height: 2.25rem;
      padding-left: 1.85rem;
      padding-right: 1.85rem;
      flex-shrink: 0;
      align-items: center;
      display: flex;
      z-index: 1;
      background-color: #0C0706;
      border-top: .5px solid #fff;
      border-bottom: .5px solid #fff;
      margin-bottom: 3rem;
      overflow: hidden;
      justify-content: flex-start;
  }
  .carousel-icon-container {
      transform: scale(.7);
  }
  .noservice-icon {
    color: #FFF;
    text-align: center;
    font-family: Baunk;
    font-size: clamp(.425rem, 3vw, .825rem);
    font-style: normal;
    font-weight: 400;
    align-self: center;
    //line-height: normal;
    white-space: nowrap;

    display: flex;

    &:nth-of-type(5) {
      display: none;
    }
    &:nth-of-type(6) {
      display: none;
    }
  }
  .phone-submit-text {
    font-size: clamp(8px, 4vw, 12px);
  }
  .referral-indicator {
    display: none;
    visibility: hidden;
  }
  .input-header-text {
    line-height: normal;
    max-width: 100%;
  }
}
.header-blur {
  //background-image: linear-gradient(to top right,#269ec33f,#00000000);
  background-image: linear-gradient(to top left,rgba(59, 40, 206, 0.325),rgba(114, 23, 211, 0.325),rgba(209, 27, 167, 0.325) );
 //background-image: linear-gradient(to top right, rgb(0, 220, 130, .15), rgb(54, 228, 218, .1),#00000000);
 
   min-width: 100vw;
  // filter: blur(36px);
   transform: rotate(-30deg) scaleX(1.5) ;
   min-height: 20vw;
   border-radius:100%;
   bottom:0;
   
   z-index: 0;
   margin-top: auto;
   align-self: flex-start;
   //filter: hue-rotate(0deg);
   position: relative;
   overflow: hidden;

 }
 
 .posh-embed {
  z-index: 100;
  overflow: visible;
  min-height: 741.5px;


 }
 .footer-blur-alt {
   background-image: linear-gradient(to bottom left,#2391818a,#00000000);
   min-width: 48vw; 
   filter:blur(120px);
   min-height: 15vw;
   border-radius:50%;
   z-index: 999;
   bottom:-33vh;
   transition: all 1s linear;
   transform:  rotate(20deg);
   left:-27vw;
   position: absolute;
   animation-duration: 6s;
   animation-direction: alternate;
   animation-timing-function: linear;
  // animation-name:animate-blur-alt;
   animation-iteration-count:infinite;
 }

 .referral-indicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color:#0a0a0a;
  background-color: #fefefe;
  border-radius: 10px;
  padding-left: .75rem;
  padding-right: .675rem;
  height: 2.5rem;
  font-family: Inter;
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 600;
  right: 2.5rem;
  position: absolute;
  filter: invert(0);
  gap:.125rem;
 // outline: 1px solid #111;
  z-index: 10;
  
  white-space: nowrap;
  bottom: 2rem;
  transition: all .2s linear;
  //box-shadow: 2px 2px 0px 0px rgba(0, 0, 0,.2);  
 }
 .referral-indicator:hover {

  //filter: invert(1);
  //outline: 1px solid #000;
 }
 .link-icon {
  width: 1.375rem;
  height: 1.375rem;
  color:#000;
  align-self: center;
 }
 .link-text {
  user-select: none;
 }